body{
  font-family: Montserrat, sans-serif;
  background: url("../css/resources/background.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainContent {
  margin-top: 5%;
  margin-left: 40%;

  max-width: 1500px;
  min-height: 50px;
	max-height: 1200px;
  padding-top: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  background-color: #d9d9d9;

  border-style: solid;
  border-radius: 10px;

  text-align: center;

  padding: 0;
}

.mainContent h3 {
  margin: 0 10px 0 0 ;
  font-size: 45px;
  margin-bottom: 10px;
}

#vipImg {
  position: absolute;

  margin-top: 5%;
  max-width: 1150px;
  max-height: 500px;
}


*, *::after, *::before {
  box-sizing: border-box;
}

.brow {
  border-radius: 10px;
  shadow: 0 0 3px white;
	background-color: rgba(16, 18, 20, 0.9);
	/* width: 100%; */
	min-height: 50px;
  max-width: 1250px;
	height: 50px;
  padding-top: 20px;
	/* position: fixed; */
	/* top: 0;
	left: 0;
	bottom: 0;
	right: 0; */
	margin: 0 auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	z-index: 9999;
	display: block;
	backdrop-filter: blur(1.6px);
}

.logo {
	position: absolute;
	left: 5%;
	top: -25px;
	font-size: 30px;
	letter-spacing: 1px;
	transform: scale(1);
	cursor: pointer;
  color: #fff;
  /* margin: 0 auto; */
  margin: 0;
}

.logo p {
  margin-bottom: 0;
}

.logo p::after,
.logo p::before {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.logo p::before {
  content: attr(data-title);
  left: 50%;
  margin-left: -100px;
  top: 45px;
  width: 200px;
  padding: 10px;
  font-size: 10px;
  text-align: center;
  /* background-color: rgba(0, 0, 0, .85) */

  transition:.7s;

  background:
}

.logo p:hover::before{
  top: 55px;
  visibility: visible;
  opacity: 1;
  transition: .7s;
}

.links {
	position: absolute;
	left: 70%;
	top: 12px;
	font-size: 20px;
	letter-spacing: 1px;
}

.links a {
	color: grey;
	text-decoration: none;
}

.link {
	transition: color .2s ease, text-shadow .2s ease;
	margin-left: 20px;
}

.link:hover {
	color: white;
	text-shadow: 0 0 3px white;
}
